
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1496692052106-d37cb66ab80c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGZyZWV8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;}

.title{
    text-align: center;
    font-size: larger;
    font-weight:900;
    color: rgb(11, 11, 58);
}
.box{
        background-color: rgba(255, 255, 255, 0.075);
        backdrop-filter: blur(10px);
        padding: 30px;
        border-radius:5px;
        box-shadow: 14px -14px 18px #4641418b,
        -14px 14px 18px #4641418b;
    }
    
fieldset{
        padding:20px;
        border-radius: 10px;
    }
label, p,select {
        font-weight: 700;
        color: rgb(23, 23, 75);
    }
input{
        height: 20px;
        box-shadow:0 30px 20px rgba(69, 66, 66, 0.1) ;
        border-radius: 3px;
        padding: 5px;
        background:rgb(240, 229, 229);
        font-weight: 500;           
    }
textarea,select{
        background:rgb(240, 229, 229);
    }
    
button{
        text-align: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
        background: rgb(199, 189, 189);
        cursor: pointer;
        letter-spacing: .1rem;
        outline: 0;
        min-width: 80px;      

      }
      h1{
        color: rgb(175, 167, 151);
      }
      
      

